.obligacion{border-radius:100px;height:40px;width:40px;text-align:center;padding-top:12px;border:2px solid #000;margin:10px 0 0 10px}.vencida{background:#f00;color:#fff}.alerta{background:#ff0;color:#000}.normal{background:#008000;color:#fff}