/* 
* @Author: yomero
* @Date:   2014-11-06 17:53:40
* @Last Modified by:   yomero
* @Last Modified time: 2014-11-06 17:54:09
*/
.obligacion{
        border-radius:100px;
        height:40px;
        width:40px;
        text-align:center;
        padding-top:12px;
        border:2px solid black;
        margin:10px 0 0 10px;
      }
      .vencida{
        background:red;
        color:white;
      }
      .alerta{
        background:yellow;
        color:black;
      }
      .normal{
        background:green;
        color:white;
      }