<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Actualización de obligaciones</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
				<div class="row">
            
          <div class="form-group">
        <span class="col-md-1 control-label"></span>
        <div class="col-md-10">
            <div class="form-group row">
                <label for="inputKey" class="col-md-2 control-label">Obligación:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="inputKey">
                </div>
                <label for="inputValue" class="col-md-1 control-label">Grupo:</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" id="inputValue">
                </div>
            </div>
        </div>
    </div>


          </div>

          <div class="row">
            <div class="col-lg-11" >
              <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped table_data_fixed">
                <thead>
                  <tr>
                    <th width="3%">
                        <input type="checkbox" checked>
                    </th>
                    <!--<th width="8%">Status</th>-->
                    <th>Obligaci&oacute;n</th>
                    <th width="18%">Fecha de vencimiento</th>
                    <th>Concesión</th>
                    <th>Concesionario</th>
                    <th>Grupo</th>
                    <th>Cobertura</th>
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="obligacion in obligaciones | filter:frl_obligacion | orderBy:'position':false">
                    
                    <td>
                    
                    <input type="checkbox" checked ng-click="agregaObligacion(obligacion)">
                    </td>
                    <!--<td>
                      <div class="glyphicon obligacion" ng-class="{'glyphicon-fire vencida':obligacion.status=='V','glyphicon-warning-sign alerta':obligacion.status=='A','glyphicon-ok normal':obligacion.status=='N'}">
                      </div>                      
                    </td>-->

                    <td title="{{obligacion.nombre}}">{{obligacion.nombre}}</td>
                    <td title="{{obligacion.fechavencimiento}}">{{obligacion.fechavencimiento}}</td>
                    <td title="{{obligacion.concesion}}">{{obligacion.concesion}}</td>
                    <td title="{{obligacion.consecionario}}">{{obligacion.consecionario}}</td>
                    <!--<td>
                    <ul>
                      <li ng-repeat="area in obligacion.areasinvolucradas">
                        {{area}}
                      </li>
                    </ul>
                    </td>-->
                    <td title="{{obligacion.grupo}}">{{obligacion.grupo}}</td>
                    <td title="{{obligacion.region}}">{{obligacion.region}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
             
          </div>





		
			<!-- BOTONES -->
				<div class="form-group">
            <div class=" col-lg-offset-6 col-lg-6" >
              <button type="button" class="btn btn-default" ng-click="goToRegistraEvidencia()">
              <i class="glyphicon glyphicon-circle-arrow-up"></i>
              Registrar evidencia
              </button>
              <button type="button" class="btn btn-primary ">
              <i class="glyphicon glyphicon-calendar"></i>
              Solicitar Prorroga
              </button>
              <button type="button" class="btn btn-danger ">
              <i class="glyphicon glyphicon-hand-right"></i>
              Generar Sanci&oacute;n
              </button>
              
            </div>
            
          </div>
				</form>
			</div>
		</div>
	</div>
</div>