<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Actualizaci&oacute;n de obligaciones</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					
					<div class="form-group">
						<label class="control-label col-lg-2">Concecionario:</label>
						<div class="input-group col-lg-10" >
							<input type="file" class="form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Prorroga hasta:</label>
						<div class="input-group col-lg-10" >
							 <input type="text" class="form-control datepicker" value="00-00-0000">
				                <span class="input-group-addon">
				                <i class="fa fa-calendar"></i>
				                </span>
						</div>
					</div>

					<div class="form-group">
            <div class=" col-sm-offset-9 col-lg-3" >
              <button type="button" class="btn btn-default ">
              Cancelar
              </button>
              <button type="button" class="btn btn-default ">
              Guardar
              </button>
              
            </div>
            
          </div>


				</form>
			</div>
		</div>
	</div>
</div>