<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Filtro y agrupaci&oacute;n de datos</h5>
			</header>
			<div class="body">
				
				<!-- BOTONES -->
				<div class="row">

				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#efefef;">
						<h4>Tipo de consulta:</h4>
						<select name="tipoconsulta" id="inputAgrupadopor" class="form-control">
							<option value="">Vencimientos</option>
							<option value="">Porcentaje de cumplimiento</option>
							<option value="">Grupo</option>
							<option value="">Cobertura</option>
							<option value="">Fechas</option>									</select>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:60px;padding:20px 0;border-top:1px solid #ccc;">
								
								<form action="" method="POST" class="form-inline" role="form">
									<div class="form-group">
									<h4>Comparar entre periodos: </h4>
										
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												2010  
											</label>
										</div> 

										<div class="checkbox" >
											<label>
												<input type="checkbox" value="" disabled>
												2011  
											</label>
										</div>
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="">
												2012  
											</label>
										</div>
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="" disabled>
												2013  
											</label>
										</div>
										<div class="checkbox" >
											<label>
												<input type="checkbox" value="" checked>
												2014
											</label>
										</div>
									</div>
								</form>
								
							</div>
						</div>



					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#ccc;">
							<h4>&nbsp;</h4>
							<table class="table table-bordered table-hover tablaFede" style="background:white;" >
								
								<tbody>
								<tr>
									<td width="5%">
											</td>

										<td>
											<h4>AGRUPADO POR</h4>
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Obligación
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Concesión
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Concesionario
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Localidad
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Grupo
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Servicio
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>

					
					<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#efefef;">
							<h4>&nbsp;</h4>
							<table class="table table-bordered table-hover tablaFede" style="background:white;" >
								
								<tbody>
									<tr>
									<td width="5%">
											</td>

										<td>
											<h4>FILTRAR POR ESTATUS</h4>

										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Próximas a vencer (este mes)
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Vencidas
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Evidenciadas
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Con prorroga
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Grupo
										</td>
									</tr>
									<tr>
									<td width="5%">
												<input type="checkbox" value="">
											</td>

										<td>
											Con sanción
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>


						
						
					</div>
					<div class="row">
						
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#ccc;">
								<h5>&nbsp;</h5>
								<table class="table table-bordered table-hover tablaFede" style="background:white;">
									<thead>
										<tr>
									<td width="5%">
											</td>

										<td>
											<h4>GRUPO</h4>

										</td>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="gpo in grupos">
											<td>
												
												<input type="checkbox" ng-click="changeCablevision(gpo)" value="">
											</td>
											<td>
												{{gpo}}
											</td>
											
											
										</tr>
									</tbody>
								</table>
								
							</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#efefef;">
								<h5>&nbsp;</h5>
								<table class="table table-bordered table-hover tablaFede" style="background:white;">
									<thead>
										<tr>
									<td width="5%">
											</td>

										<td>
											<h4>CONCESIONARIO</h4>

										</td>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="c in consecionarios">
											<td>
												
												<input type="checkbox" value="">
											</td>
											<td>
												{{c.nombre}}
											</td>
											
											
										</tr>
									</tbody>
								</table>
								
							</div>



							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 datoFede" style="background:#ccc;">
								<h5>&nbsp;</h5>
							<table class="table table-bordered table-hover tablaFede" style="background:white;">
									<thead>
										<tr>
									<td width="5%">
											</td>

										<td>
											<h4>COBERTURA</h4>

										</td>
									</tr>
									</thead>
									<tbody>
										<tr ng-repeat="loc in localidades">
										<td>
												
												<input type="checkbox" ng-click="changeOaxaca(loc)" value="">
											</td>
											<td>
												{{loc}}
											</td>
											
											
										</tr>
									</tbody>
								</table>



							</div>
							
						</div>

						<div class="row" style="margin-top:10%;">
							<table class="table table-hover table-bordered">
								<thead>
									<tr>
										<th>Obligación <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>Concesión <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>Grupo <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>Cobertura <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>Min <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>Max <span class="btn_table"><i class="fa fa-sort"></i></span></th>
										<th>% <span class="btn_table"><i class="fa fa-sort"></i></span></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ob in obligacionesDataFilter">
										<td>Estados financieros</td>
										<td>{{ob.consecion}}</td>
										<td>{{ob.grupo}}</td>
										<td>{{ob.localidad}}</td>
										<td>{{ob.minfecha}} días</td>
										<td>{{ob.maxfecha}} días</td>
										<td>%{{ob.porciento}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class=" col-sm-offset-9 col-lg-3" >
							<button type="button" class="btn btn-default ">
							Cancelar
							</button>
							<button type="button" class="btn btn-default ">
							Guardar
							</button>
							
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>