<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Generador de informes</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-inline">
					<div class="row">
						<div class="col-lg-8" style="min-height:400px;">
							<label class="control-label">Filtrar por:</label>
							<div class="form-group" >
								<select class="form-control" ng-model="sel_option" ng-options="opt as opt.label for opt in filtros">
    						<option value="">Selecciona una opción</option>
								</select>
								<button type="button" ng-click="addFiltro()" class="btn btn-default">+</button>
							</div>
							<div style="margin-top:10px;" ng-repeat="confil in $root.genInfo.configfiltros">
								<div class="form-horizontal">
									<label class="control-label">{{confil.label}}</label> =
									 <input type="text" class="form-control" ng-model="nada" ng-change="addValueFilter(confil,this)" value="{{confil.valuedata}}" >
									 <button class="btn btn-danger" ng-click="remove_filter(confil)">
									 	<i class="glyphicon glyphicon-remove-circle"></i>
									 </button>
								</div>
							</div>

						</div>
						<div class="col-lg-4" ng-repeat="opt in filtros" >
							<div class="checkbox">
								<label>
									<input type="checkbox" class="checkbox" ng-click="addrow_filter({{opt}})">{{opt.label}}
								</label>
							</div>
								<br>
						</div>
					</div>
					

				</form>
				<div class="form-group">
						<div class=" col-sm-offset-9 col-lg-3" >
							<button type="button" class="btn btn-default">
							Cancelar
							</button>
							<button type="button" class="btn btn-default" ng-click="goResult()" >
							Guardar
							</button>
							
						</div>
						
					</div>
			</div>
		</div>
	</div>
</div>