<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Nivel de cumplimiento</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="row form-inline">												
									<div class="col-lg-3" >
										<label class="radio-inline"><input type="radio" name="optradio" checked ng-click="filtro_reg('sn')">1 semana</label>
									</div>
									<div class="col-lg-3" >
									<label class="radio-inline">
										<input type="radio" name="optradio" ng-click="filtro_reg('qd')">15 d&iacute;as</label>
										
									</div>
									<div class="col-lg-3" >
								<label class="radio-inline">
									<input type="radio" name="optradio" ng-click="filtro_reg('mo')">Mes de obligaci&oacute;n</label>
								</div>
								<div class="col-lg-3 " >
							<label class="radio-inline">
								<input type="radio" name="optradio" ng-click="filtro_reg('mp')">Mes previo
							</label>
							</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-11" >
									<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped table_data_fixed">
										<thead>
											<tr>
												<th>Concesión</th>
												<th>Obligaci&oacute;n</th>
												<th>Tiempo previo</th>
												<th>%</th>
												<th>Media</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="obligacion in obligaciones" ng-show="obligacion.visible">
												<td>{{obligacion.consecion.nombre}}</td>
												<td>{{obligacion.nombre}}</td>
												<td>{{obligacion.tiempoprevio}} d&iacute;as</td>
												<td>{{dataFixed(obligacion.porcentaje)}} %</td>
												<td>{{obligacion.tiempomedio}} d&iacute;as</td>
											</tr>
										</tbody>
									</table>
								</div>
								
							</div>
							
							<!-- BOTONES -->
							<div class="form-group">
								<div class=" col-sm-offset-9 col-lg-3" >
									<button type="button" class="btn btn-default ">
									Cancelar
									</button>
									<button type="button" class="btn btn-default ">
									Guardar
									</button>
									
								</div>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
		$(function() {
		//     $('.table').DataTable();
		});
		</script>