<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Registro de área involucrada</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2">Nombre:</label>
						<div class="input-group col-lg-9" >
							 <input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Responsable:</label>
						<div class="input-group col-lg-9" >
							 <input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Correo electr&oacute;nico:</label>
						<div class="input-group col-lg-9" >
							 <input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2">Notificar a:</label>
						<div class="input-group col-lg-9" >
							 <input type="text" class="form-control">
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-11" >
							<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th>&Aacute;rea</th>
										<th>Responsable</th>
										<th>Correo electr&oacute;nico</th>
										<th>Correo notificar a</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="area in areas">
										<td>{{area.nombre}}</td>
										<td>{{area.responsable}}</td>
										<td>{{area.email}}</td>
										<td> 
										<ul>
											<li ng-repeat="noti in area.notificar_a">{{noti}}</li>
										</ul></td>
										<td width="5%">
											<button type="button" class="btn btn-default">
											<span>
											<i class="fa fa-trash-o"></i>
											</span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- BOTONES -->
				<div class="form-group">
            <div class=" col-sm-offset-9 col-lg-3" >
              <button type="button" class="btn btn-default ">
              Cancelar
              </button>
              <button type="button" class="btn btn-default ">
              Guardar
              </button>
              
            </div>
            
          </div>
				</form>
			</div>
		</div>
	</div>
</div>