<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Registro de concesi&oacute;n</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Nombre:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Obligaci&oacute;n:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="ob_selected" ng-options="ob as ob.nombre for ob in obligaciones">
								<option value>--Seleccione--</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary col-sm-offset-7 col-lg-3 col-lg-offset-8">
						Agregar
						</button>
					</div>
					<div class="form-group">
						<div class="col-lg-11" >
							<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th>Obligaci&oacute;n</th>
										<th>Periodicidad</th>
										<th>Aplica a</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ob in obligaciones">
										<td>{{ob.nombre}}</td>
										<td>{{ob.periodicidad}}</td>
										<td>{{ob.aplica_a}}</td>
										<td>
											<button type="button" class="btn btn-default">
											<span>
											<i class="fa fa-trash-o"></i>
											</span>
										</button>           
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- BOTONES -->
					<div class="form-group">
						<div class=" col-sm-offset-7 col-lg-3" >
							<button type="button" class="btn btn-default ">
							Cancelar
							</button>
							<button type="button" class="btn btn-default ">
							Guardar
							</button>
							
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>