<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="fa fa-times"></i>
			</button>
			
			<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th>Fecha de cumplimiento</th>
										<th>
										</th>
									</tr>
								</thead>
								<tbody>
								<tr>
										<td>
											11/08/2014
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-edit"></i>
												</span>
												</button>
										</td>
										
									</tr>
									<tr>
										<td>
											11/06/2014
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-edit"></i>
												</span>
												</button>
										</td>
										
									</tr>
									<tr>
										<td>
											11/04/2014
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-edit"></i>
												</span>
												</button>
										</td>
										
									</tr>
								<tr>
										<td>
											11/02/2014
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-edit"></i>
												</span>
												</button>
										</td>
										
									</tr>
								<tr>
										<td>
											11/12/2013
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-edit"></i>
												</span>
												</button>
										</td>
										
									</tr>
									
									

								</tbody>

			</table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-circle-arrow-left"></i>
              Salir
              </button>

        </div>
    </div>
  </div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Registro de concesionario</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Nombre:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Grupo:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="sel_grupo" ng-options="gpo as gpo.nombre for gpo in grupos">
								<option value>--Seleccione--</option>
								
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Concesiones:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="sel_consecion" ng-options="con as con.nombre for con in conseciones">
								<option value>--Seleccione--</option>
								
							</select>
							<button type="button" class="btn btn-default">
							<span>
							<i class="fa fa-plus"></i>
							</span>
							</button>
						</div>
						
						
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-primary col-sm-offset-7 col-lg-3 col-lg-offset-8">
						Agregar
						</button>
					</div>
					<div class="form-group">
						<div class="col-lg-11" >
							<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th>Concesión</th>
										<th>Fecha inicio</th>
										<th>Cobertura</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="con in conseciones">
										<td>{{con.nombre}}
										</td>
										<td width="15%">
											<div class="input-group col-lg-12 col-sm-12" >
												<input type="text" class="form-control datepicker" value="19-11-2014">
												<span class="input-group-addon">
												<i class="fa fa-calendar"></i>
												</span>
											</div>
										</td>
										<td>
											<select id="input" class="form-control" ng-options="localidad as localidad.nombre for localidad in localidades" ng-model="sel_localidad_data" style="width: 80%;float: left;margin-right: 10px;">
												<option value>-- Selecciona una opci&oacute;n --</option>
											</select>
											
											<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-plus"></i>
												</span>
												</button>


										</td>
										<td width="5%">
											<button type="button" class="btn btn-default" data-toggle="modal"
   											data-target="#basicModal">
												<span>
												<i class="fa fa-calendar-o"></i>
												</span>
												</button>
										</td>
										<td width="5%">
												<button type="button" class="btn btn-default">
												<span>
												<i class="fa fa-trash-o"></i>
												</span>
												</button>
										</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						
						<!-- BOTONES -->
						<div class="form-group">
							<div class=" col-sm-offset-7 col-lg-3" >
								<button type="button" class="btn btn-default ">
								Cancelar
								</button>
								<button type="button" class="btn btn-default ">
								Guardar
								</button>
								
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		setTimeout(function(){
			$(".datepicker").datepicker().on('changeDate',
				function(ev){
				$(this).datepicker('hide');});
		}, 1000)
	</script>