<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				<i class="fa fa-times"></i>
				</button>
				<div class="form-group">
					<label for="comment">Comentario Concesionario 1:</label>
					<textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
				
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-circle-arrow-left"></i>
				Cancelar
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="glyphicon glyphicon-save"></i>
				Guardar comentario
				</button>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="alerta" class="alert alert-success" style="display:none">
		<button class="close" data-dismiss="alert">×</button>
		<strong>Felicidades!</strong> Se completo la operaci&oacute;n de manera correcta.
	</div>
	<div class="row" style="margin:20px;">
		
	</div>
	
	<!--<div class="col-lg-12" ng-repeat="obligacion in obligaciones">-->
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="glyphicon glyphicon-circle-arrow-up"></i>
				</div>
				<h5>Evidencia para: Estados financieros</h5>
				<div class="toolbar">
					

						<div style="float: right;margin-right: -220px;width: 460px;margin-top: 4px;">
			<div class="input-group col-lg-5 col-sm-5 col-sm-offset-1 col-lg-offset1">
				<input type="text" class="form-control datepicker" value="19-11-2014">
				<span class="input-group-addon">
				<i class="fa fa-calendar"></i>
				</span>
				
			</div>
		</div>

				</div>

				
			</header>
			<div class="body">
				<form class="form-horizontal">
					
					<div class="form-group">
						<label class="control-label col-lg-3">Concesionario 1:</label>
						<div class="input-group col-lg-7" style="float:left;margin-right: 10px;">
							<input idobligacion = "{{obligacion.id}}" obligacion = "{{obligacion}}"  id="file{{obligacion.id}}" type="file" class="inputfiledata form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
						<div class="input-group col-lg-1 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicModal">
							<span>
							<i class="fa fa-comments"></i>
							</span>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">Concesionario 2:</label>
						<div class="input-group col-lg-7" style="float:left;margin-right: 10px;">
							<input idobligacion = "{{obligacion.id}}" obligacion = "{{obligacion}}"  id="file{{obligacion.id}}" type="file" class="inputfiledata form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
						<div class="input-group col-lg-1 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#basicModal">												<span>
							<i class="fa fa-comments"></i>
							</span>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">Concesionario 3:</label>
						<div class="input-group col-lg-7" style="float:left;margin-right: 10px;">
							<input idobligacion = "{{obligacion.id}}" obligacion = "{{obligacion}}"  id="file{{obligacion.id}}" type="file" class="inputfiledata form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
						<div class="input-group col-lg-1 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default">
							<span>
							<i class="fa fa-comments"></i>
							</span>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">Concesionario 4:</label>
						<div class="input-group col-lg-7" style="float:left;margin-right: 10px;">
							<input idobligacion = "{{obligacion.id}}" obligacion = "{{obligacion}}"  id="file{{obligacion.id}}" type="file" class="inputfiledata form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
						<div class="input-group col-lg-1 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default">
							<span>
							<i class="fa fa-comments"></i>
							</span>
							</button>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-3">Concesionario 5:</label>
						<div class="input-group col-lg-7" style="float:left;margin-right: 10px;">
							<input idobligacion = "{{obligacion.id}}" obligacion = "{{obligacion}}"  id="file{{obligacion.id}}" type="file" class="inputfiledata form-control">
							<span class="input-group-addon">
							<i class="fa fa-cloud-upload"></i>
							</span>
						</div>
						<div class="input-group col-lg-1 col-sm-1 col-md-1">
							<button type="button" class="btn btn-default">
							<span>
							<i class="fa fa-comments"></i>
							</span>
							</button>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="col-lg-8" >
						</div>
						
						
					</div>
					
					
				</form>
			</div>
		</div>
	</div>
	<div class="col-lg-offset-8 col-lg-4" >
		<button type="button" class="btn btn-default ">
		Cancelar
		</button>
		<button ng-click="guarda_evidencias()" type="button" class="btn btn-primary"
		>
		Guardar
		</button>
	</div>
</div>
<script class="ng-scope">
		setTimeout(function(){
			$(".datepicker").datepicker().on('changeDate',
				function(ev){
				$(this).datepicker('hide');});
		}, 1000)
</script>