<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Registro de obligaci&oacute;n</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Nombre:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Perioricidad:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="sel_periodicidad" ng-options="per  as per.nombre for per in periodicidades">
								<option value>--Seleccione--</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Aplica a:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="sel_aplica_a" ng-options="ap as ap.nombre for ap in aplica_a">
								<option value>--Seleccione--</option>
							</select>
						</div>
					</div>

					<div class="form-group form-inline">
						<label class="control-label col-lg-2 col-sm-2">Tipo:</label>
						<div class="col-lg-3" >
						<label class="radio-inline"><input type="radio" ng-click="muestra_registros('A')"  name="optradio">Por ley</label>
						</div>
						<div class="col-lg-3" >
						<label class="radio-inline"><input ng-click="muestra_registros('AM')" type="radio" name="optradio">Por requerimiento</label>

						</div>
					</div>




					
					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">Descripci&oacute;n:</label>
						<div class=" col-lg-9 col-sm-9" >
							<textarea name="" class="form-control" ></textarea>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-lg-2 col-sm-2">&Aacute;rea involucrada:</label>
						<div class="input-group col-lg-9 col-sm-9" >
							<select class="form-control" ng-model="sel_area" ng-options="area as area.nombre for area in areas">
								<option value>--Seleccione--</option>
							</select>
							<button type="button" class="btn btn-default">
							<span>
							<i class="fa fa-plus"></i>
							</span>
							</button>
						</div>
					</div>

					<div class="form-group">
						<button type="button" class="btn btn-primary col-sm-offset-7 col-lg-3 col-lg-offset-8">
						Agregar
						</button>
					</div>
					<div class="form-group">
						<div class="col-lg-11" >
							<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
								<thead>
									<tr>
										<th>Área</th>
										<th>Responsable</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="area in areas">
										<td>{{area.nombre}}</td>
										<td>{{area.responsable}}</td>
										<td width="5%">
											<button type="button" class="btn btn-default">
											<span>
											<i class="fa fa-trash-o"></i>
											</span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<!-- BOTONES -->
					<div class="form-group">
						<div class=" col-sm-offset-7 col-lg-3" >
							<button type="button" class="btn btn-default ">
							Cancelar
							</button>
							<button type="button" class="btn btn-default ">
							Guardar
							</button>
							
						</div>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>