<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Vencimientos pr&oacute;ximos</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">
					<div class="row form-inline">
						<div class="col-lg-3 " >
							<label class="radio-inline"><input type="radio" name="optradio" ng-click="muestra_registros('V')" checked>Vencidas</label>							
						</div>
						<div class="col-lg-3" >
						<label class="radio-inline"><input type="radio" ng-click="muestra_registros('A')"  name="optradio">Por vencer</label>

							
						</div>
						<div class="col-lg-3" >
						<label class="radio-inline"><input ng-click="muestra_registros('AM')" type="radio" name="optradio">Ambas</label>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-11" >
						<table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
							<thead>
								<tr>
									<th width="5%">Status</th>
									<th>Fecha</th>
									<th>Fecha de vencimiento</th>
									<th>Concesi&oacute;n</th>
									<th>Concesionario</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="ob in obligaciones | orderBy:'tmpfecha'" ng-hide="ob.status=='N' || ob.view == false">
									<td>
										 <div class="glyphicon obligacion" ng-class="{'glyphicon-fire vencida':ob.status=='V','glyphicon-warning-sign alerta':ob.status=='A','glyphicon-ok normal':ob.status=='N'}">
                      					</div>   
									</td>
									<td>{{ob.fecha}}</td>
									<td>{{ob.fechavencimiento}}</td>
									<td>{{ob.consecion.nombre}}</td>
									<td>{{ob.consecionario.nombre}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				
				<!-- BOTONES -->
				<div class="form-group">
					<div class=" col-sm-offset-9 col-lg-3" >
						<button type="button" class="btn btn-default ">
						Cancelar
						</button>
						<button type="button" class="btn btn-default ">
						Guardar
						</button>
						
					</div>
					
				</div>
			</form>
		</div>
	</div>
</div>
</div>
