<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <header>
        <div class="icons">
          <i class="fa fa-exclamation-circle"></i>
        </div>
        <h5>Panel de resultados</h5>
      </header>
      <div class="body">
        <form id="validVal" class="form-inline">
          <div class="row">
            <div class=" col-lg-offset-9 col-lg-3" ng-hide="viewTotal">
              <button type="button" class="btn btn-default" ng-click="verTodos()">
              <i class="glyphicon glyphicon-circle-arrow-down"></i>
              Ver todos los registros
              </button>
            </div>
            

            <!--<div class="form-group">
              <label class="control-label col-lg-4">Filtrar por rango de fechas:</label>
              <div class="input-group col-lg-4" >
                <input type="text" class="form-control datepicker" value="00-00-0000">
                <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
                </span>
              </div>
              <div class="input-group col-lg-4" >
                <input type="text" class="form-control datepicker" value="00-00-0000">
                <span class="input-group-addon">
                <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>-->
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-12 col-sm-12" ng-show="viewTotal">
              <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped" style="table-layout: fixed;">
                <thead>
                  <tr>
                    <th ng-repeat="row in $root.genInfo.rowFilter" style="width: 100px !important;">{{row.label}}</th>
                  </tr>
                </thead>
                <tbody id="content_data">
                  
                </tbody>
              </table>
            </div>
              

          </div>

          <div class="row">
            <div class="col-lg-12">
              <label class="control-label">Agrupar por:</label>
              <div class="form-group" >
                <select class="form-control" ng-model="sel_grupo" ng-options="opt as opt.label for opt in $root.genInfo.rowFilter">
                <option value="">Selecciona una opción</option>
                </select>

                <button type="button" class="btn btn-primary" ng-click="agregaGrupo()">
              <i class="glyphicon glyphicon-plus-sign"></i>
              </button>

              <button type="button" class="btn btn-default" ng-click="genTestData()" ng-show="agruparpor.length>0">
              <i class="glyphicon glyphicon-list"></i>
              Generar grupos
              </button>


              </div>
            </div>
          </div>


          <div>
                <div class="form-inline">                    
                   <button ng-repeat="grupo in agruparpor" type="button" class="btn btn-danger" ng-click="elimina_grupo(grupo)" style="margin:10px;">
                       <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> {{grupo.label}} 
                    </button>


                </div>
          </div>

          <div class="col-lg-12 col-sm-12" id="wrapper_gpos" style="overflow:hidden;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; ">
              <!--<h3>Grupo:{{grupo.titulo}}</h3>
              <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped" style="table-layout: fixed;">
                <thead>
                  <tr>
                  <th ng-repeat="row in $root.genInfo.rowFilter" style="width: 100px !important;">{{row.label}}</th>
                  </tr>
                </thead>
                <tbody id="table_{{$index}}" >
                  
                </tbody>
              </table>-->

            </div>

          <div class="form-group">
            <div class="col-lg-9" >
            </div>
            <div class="col-lg-3" >
              <button type="button" class="btn btn-default"
               ng-click="regresar()">
              Regresar
              </button>
              <button type="button" class="btn btn-default ">
              Guardar consulta
              </button>
              <button type="button" class="btn btn-default ">
              Generar informe
              </button>
              <button type="button" class="btn btn-default" ng-click="printpage()">
              Imprimir pantalla
              </button>
              
            </div>
            
          </div>
        
        
      </div>
      
      
      </div><!-- fin de box -->
    </div>
  </div>
  <script>
  </script>