<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<header>
				<div class="icons">
					<i class="fa fa-exclamation-circle"></i>
				</div>
				<h5>Actualización de obligaciones</h5>
			</header>
			<div class="body">
				<form id="validVal" class="form-horizontal">






		
			<!-- BOTONES -->
				<div class="form-group">
            <div class=" col-sm-offset-9 col-lg-3" >
              <button type="button" class="btn btn-default ">
              Cancelar
              </button>
              <button type="button" class="btn btn-default ">
              Guardar
              </button>
              
            </div>
            
          </div>
				</form>
			</div>
		</div>
	</div>
</div>